body {
    margin: 0;
    padding: 20px;
    background-image: url('minecraft_dirt_wallpaper_by_thedevartist_d3l1qoj-pre.jpg');
    background-repeat: repeat;
    background-color: #135e12;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #1b7019;
    justify-content: left;
}

ul li {
    float: left;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a.active {
    background-color: #012500;
}

ul li a:hover {
    background-color: #012500;
    color: #17b315;
}

ul {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

}

.profile-layout{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 2;
}

.profile-box, .blurbs-box, .music-box {
    background-color: #032500ab;
    border: 2px solid #1b7019;
    padding: 10px;
    margin-bottom: 20px;
}

.profile-box h2, .blurbs-box h2, .music-box h2 {
    background-color: #1ab317;
    color: #fff;
    font-size: 24px;

    margin: -12px -12px 12px -12px;
    padding: 6px 10px;
}

.blurbs-box {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 15px;
    background-color: #032500ab;
}
.blurbs-box h2:not(first-child) {
   background-color: transparent;
   color: #10bd0d;
   margin: 20px 0 5px 0;
   padding: 0;
   font-size: 26px;
   border-bottom: 1px dashed #1b7019;
}

.blurbs-box p {
    font-size: 13px;
    line-height: 1.5;
    margin: 0 0 15px 0;
  
}

.profile-box {
    text-align: left;
}

.profile-pic {
    width: 200%;
    max-width: 250px;
    height: auto;
    border: 1px solid #1b7019;
    margin:20px -40px;
}

.status {
    font-size: 18px;
    font-style: italic;
    color:#00ffb7;
    margin-top: 5px;
}

.corner-overlay { 
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    z-index: 9999;
    pointer-events: none;
}